.navbarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    /* background-color: rgb(240, 174, 174); */
}

/* tengah ini emang off */
/* .navbarOption:hover {
    background-color: grey;
    border-radius: 30px;
} */

.nav-icon{
    font-size: 35px;
    padding: 5px;
    margin: 5px 20px 20px 0px;
    /* background-color: rgb(146, 203, 230); */
}

.navbarOption > h3{
    font-weight: 400;
    font-size: 18px;
    margin-right: 20px;
    /* background-color: greenyellow; */
}