.App {
  display: flex;
  height: 100vh;
  padding: 0 5px;
  min-width: 250px;
}

.main{
  margin-left: 230px;
}

body{
  --ig-background: #FAFAFA;
  --ig-border: #DBDBDB;
  --ig-button: #0095F6;
  --ig-text: #8E8E8E;
}